/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "bootstrap";



/*==================================================
Sass variables
==================================================*/

$bkgd-color: #2E2B26;
$border: 4px solid #D50000;
$txtcolornorm: #ffffff;
$fontSizebody: 1.2em;
$widthCssVMenu: 200px;
$tabBackground: #9C9181;
/*==================================================
General
==================================================*/
body {
    font-size: 62.5%;
    font-family: Comfortaa;
    background-color: $bkgd-color;
    font-size: $fontSizebody;
}

/*==================================================
navbar
==================================================*/
#cssvmenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  background-repeat: repeat-y;
  height:inherit;
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  border-right: $border;
  z-index: 1000;
  font-family: Comfortaa;
  clear: right;
  width: $widthCssVMenu;
  background: $bkgd-color;
  zoom: 1;
  font-size: 12px;
      #portrait {
          border-radius: 100px;
          border: 5px solid white;
          height: 170px;
          margin-left: 5%;
          margin-bottom: 20px;
          margin-top: 20px;
      }
        ul,
        ul li,
        ul ul {
           list-style: none;
           margin: 0;
           padding: 0;
        }
        ul {
          position: relative;
          z-index: 597;
          float: left;
        }
        ul li {
          float: left;
          min-height: 1px;
          line-height: 1em;
          vertical-align: middle;
          position: relative;
          float: none;
        }
        ul li.hover,
       ul li:hover {
         position: relative;
         z-index: 599;
         cursor: default;
       }
       ul li:hover > ul {
         visibility: visible;
       }
       a {
         display: block;
         padding: 15px 20px;
         color: #ffffff;
         text-decoration: none;
         text-transform: uppercase;
       }
       :before {
         content: "";
         display: block;
       }
       .align-right > ul > li > a {
         border-right: none;
       }
       .align-right {
         float: right;
       }
       .align-right li {
         text-align: right;
       }
}

#cssvmenu ul ul li {

}
/* Custom CSS Styles */
#cssvmenu:after {
  content: "";
  display: table;
  clear: both;
}
#cssvmenu > ul {
  width: $widthCssVMenu;
}
#cssvmenu > ul > li > a {
  border-right: $border;
  color: $txtcolornorm;
  margin-left: 20px;
}
#cssvmenu > ul > li > a:hover {
  color:$txtcolornorm;
}
#cssvmenu > ul > li.active a {
   background: $bkgd-color;
   background: $bkgd-color;
}
#cssvmenu > ul > li a:hover,
#cssvmenu > ul > li:hover a {
  background: #4F4B41;
}
#popover {
    margin-left: 40px;
    margin-bottom: 20px;
    color: black;
}
.popover-title {
    color: black;
}

/*==================================================
/navbar
==================================================*/
h1 {
    text-align: center;
    background-color: $bkgd-color;
    color: $txtcolornorm;
    margin-left: 5%;
    font-family: 'Pacifico', cursive;
    font-size: 8em;
    border-bottom: $border;
    z-index: 2000;
}
#strings {
    max-width: 100%;
    min-height: 200px;
    margin-bottom: 90px;
    width: 100%;
    margin-left: -30px;
    z-index: 500;
    padding-top: 10px;
}
.corpus section {
    margin-top: 70px;
    margin-bottom: 70px;
}
.corpus hr {
    margin-top: 70px;
    margin-bottom: 70px;
}
h3 {
    color: $txtcolornorm;
    margin-top: 50px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
footer {
    background-color: black;
}

/*==================================================
/corps
==================================================*/
.toggableTab {
    border:2px solid #EBDBC2;
    border-radius: 20px;
    background-color: $bkgd-color;
    font-size: 1.6em;
    padding: 20px;
    h4 {
        color: black;
        padding-bottom: 50px;
        text-align: center;
    }
}

.tab-pane {
    background-color: $tabBackground;
    padding: 50px;
    border-radius: 0 0 10px 10px;
    ul li {
        padding-bottom: 10px;
    }
}
.tab-content .active {
    background-color: $tabBackground;
}
#mail {
    text-align: center;
    color: $txtcolornorm;
    font-size: 2em;
}
.presentationtravaux ul li {
    color: $txtcolornorm;
    font-size: 1.2em;
    list-style: none;
}
#travaux p {
    font-size: 1.6em;
    color: $txtcolornorm;
}
