/*
Error: File to import not found or unreadable: variables.
       Load paths:
         Compass::SpriteImporter
         /home/thomascavalar/sites/lab/testSass/sass
         /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets
         /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/bootstrap-sass-3.3.6/assets/stylesheets
         /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/font-awesome-sass-4.5.0/assets/stylesheets
         /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/bootstrap-sass-3.3.6/assets/stylesheets
         /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/font-awesome-sass-4.5.0/assets/stylesheets
         /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/bootstrap-sass-3.3.6/assets/stylesheets
         /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/font-awesome-sass-4.5.0/assets/stylesheets
        on line 6 of /home/thomascavalar/sites/lab/testSass/sass/_font-awesome.scss
        from line 12 of /home/thomascavalar/sites/lab/testSass/sass/screen.scss

1: /* Welcome to Compass.
2:  * In this file you should write your main styles. (or centralize your imports)
3:  * Import this file using the following HTML or equivalent:
4:  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> *\/
5: 
6: @import "compass/reset";
7: 
8: @import "bootstrap";
9: 
10: @import "compass/css3";
11: 

Backtrace:
/home/thomascavalar/sites/lab/testSass/sass/_font-awesome.scss:6
/home/thomascavalar/sites/lab/testSass/sass/screen.scss:12
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/import_node.rb:45:in `import'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:326:in `map'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/stack.rb:88:in `block in with_import'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/stack.rb:88:in `with_import'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/tree/root_node.rb:20:in `render'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/engine.rb:278:in `render'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:471:in `on_file_changed'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:328:in `block in watch'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:252:in `call'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/vendor/listen/lib/listen/adapter.rb:254:in `call'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/sass-3.4.21/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: variables.\A        Load paths:\A          Compass::SpriteImporter\A          /home/thomascavalar/sites/lab/testSass/sass\A          /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets\A          /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/bootstrap-sass-3.3.6/assets/stylesheets\A          /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/font-awesome-sass-4.5.0/assets/stylesheets\A          /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/bootstrap-sass-3.3.6/assets/stylesheets\A          /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/font-awesome-sass-4.5.0/assets/stylesheets\A          /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/bootstrap-sass-3.3.6/assets/stylesheets\A          /home/thomascavalar/.rvm/gems/ruby-2.2.4/gems/font-awesome-sass-4.5.0/assets/stylesheets\A         on line 6 of /home/thomascavalar/sites/lab/testSass/sass/_font-awesome.scss\A         from line 12 of /home/thomascavalar/sites/lab/testSass/sass/screen.scss\A \A 1: /* Welcome to Compass.\A 2:  * In this file you should write your main styles. (or centralize your imports)\A 3:  * Import this file using the following HTML or equivalent:\A 4:  * <link href=\"/stylesheets/screen.css\" media=\"screen, projection\" rel=\"stylesheet\" type=\"text/css\" /> */\A 5: \A 6: @import \"compass/reset\";\A 7: \A 8: @import \"bootstrap\";\A 9: \A 10: @import \"compass/css3\";\A 11: "; }
